body {
    background-image: url('../images/bkg.png');
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-section {
    .hero-content {
        h1 {
            font-family: $secondary-font;
            font-weight: 400;
            color: $secondary-color;
            margin-bottom: 20px;

            span {
                background-color: $secondary-color;
                font-weight: 700;
                color: #fff;
                border-radius: 6px;
                line-height: 2;
                padding: 0 10px;
                text-transform: uppercase;
                letter-spacing: 4px;
            }
        }

        p {
            font-family: $primary-font;
            font-weight: 400;
            color: $secondary-color;
        }
    }
}