.page-hero-section {
    margin-top: 150px;

    .hero-content {
        > h1 {
            font-family: $secondary-font;
            font-weight: 700;
            font-size: 1.7em;
            color: $secondary-color;
            margin-bottom: 10px;

            @media (min-width: 992px) {
                font-size: calc(1.375rem + 1.5vw);
                margin-bottom: 20px;
            }
        }

        .title-bottom * {
            font-family: $primary-font;
            font-size: 0.9rem;
            font-weight: 400;
            color: $secondary-color;

            @media (min-width: 992px) {
                font-size: 1rem;
            }
        }
    }
}

.page-content {
    margin-top: 50px;

    @media (min-width: 768px) {
        margin-top: 12vw;
    }
}